<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Form.css">
</head>
<body>
    <div class="container">

        <form action="/crossword/create/" method="post">
            <div class="mx-5">
          <label for="word1" class="form-label">Введите слово</label>
          <input type="text" class="form-control" id="word1" name="word1" placeholder="Яблоко">
            </div>
        <div class="mx-5">
          <label for="description1" class="form-label">Описание слова</label>
          <textarea class="form-control" id="description1" name="description1" rows="3"></textarea>
        </div>
                <div class="mx-5">
          <label for="word2" class="form-label">Введите слово</label>
          <input type="text" class="form-control" id="word2" name="word2" placeholder="Яблоко">
            </div>
        <div class="mx-5">
          <label for="description2" class="form-label">Описание слова</label>
          <textarea class="form-control" id="description2" name="description2" rows="3"></textarea>
        </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

    </div>
</body>
</html>