{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дружба</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
</head>
<body style="background-color: rgba(241,237,198,0.61)">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(228,214,162,0.68)">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CrossWorld</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://t.me/+3F4bx9FEsyNhYjIy">Telegram</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <h1 align="center" >CrossWorld</h1>
        <h3 align="center">Создай свой кроссоворд</h3>
        <h3 align="center">Здесь можно составить кроссворд по списку слов и скачать его!</h3>
        <div class="container" align="center">
            <a class="btn btn-success button1 btn-lg" href="/crossword/create" role="button"> Создать кроссворд</a>
        </div>
    </div>
    <div class="row">
        <img src="{% static 'img/crossword1.png' %}" alt="ПОЧЕМУ НЕЕТ КАРТИНКИ" width="12%" height="30%">
        <img src="{% static 'img/crossword2.jpeg' %}" alt="ПОЧЕМУ НЕЕТ КАРТИНКИ" width="12%" height="30%">
        <img src="{% static 'img/crossword3.jpg' %}" alt="ПОЧЕМУ НЕЕТ КАРТИНКИ" width="12%" height="30%">
        <img src="{% static 'img/crossword4.jpeg' %}" alt="ПОЧЕМУ НЕЕТ КАРТИНКИ" width="11%" height="30%">
        <img src="{% static 'img/crossword5.jpeg' %}" alt="ПОЧЕМУ НЕЕТ КАРТИНКИ" width="12%" height="30%">
    </div>
    <div class="footer container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-4" align="left">2023 год от рождества Христова</div>
            <div class="col-4" align="center">
                Все права защищены <b>Любое копирование и воспроизведение текста, в том числе частичное
                и в любых формах, без письменного разрешения правообладателя запрещено.</b>
            </div>
            <div class="col-4" align="right">Армений</div>
        </div>
    </div>
</body>
</html>