.button2 {
    font-size: 15px;
    margin: 20px 13%;
}
.button3 {
    font-size: 15px;
    margin: 20px 13%;
}
.button4 {
    font-size: 15px;
    margin: 20px 15%;
}


.FormPadding {
    margin: 1% 10%;
}
