.button2 {
    font-size: 15px;
    margin: 20px 13%;
}
.button3 {
    font-size: 15px;
    margin: 20px 13%;
}
.button4 {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 16%;
}


.FormPadding {
    margin: 1% 10%;
}

.Predupregdenie{
    margin-top: 25px;
    margin-left: 5%;
}
